html, body {
    height: 100%;
    margin: 0;
}

body {
    font-size: 16px;
}

.counter {
    text-align: center;
    font-size: 32px;
    margin-top: 100px;
}

.board-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
  
.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.cell {
    width: 120px;
    height: 120px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.character {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 99;
  }

.character-goblin {
    background: url('../images/goblin.png');
}